<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href=https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src=https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <title>Document</title>
    <style>
        body {
            font-size: 12px;
        }

        sup {
            color: red;
        }

<!--        .container {-->
<!--            padding-left: 275px;-->
<!--            padding-right: 200px;-->
<!--            margin-top: 10px;-->
<!--            margin-left: 50px;-->
<!--        }-->

        .row {
            margin-top: 10px;
        }

        .form-group-input,
        .form-group select {
            background-color: #FFFFFF;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 1px;
            color: #333;
            display: block;
            padding: 2px 12px;
            transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
            width: 100%;
            font: 13px 'Roboto', sans-serif;
            height: 28px;
        }

        .footer {
            position: fixed;
            left: 0px;
            bottom: 0px;
            height: auto;
            width: 100%;
            background: navy;
            text-align: center;
        }
        @media (min-width:100px) and (max-width:720px) {
            .container{
                width: auto;
            }

        }

    </style>
</head>

<body>
    <div class="header">
        <div class="row" style="background: darkblue;">
            <div class="col-md-1"></div>
            <div class="col-md-11 text-white">
                <a href="#" style="color: white;text-decoration: none;">Email:- narmgh@gmail.com</a>
            </div>
        </div>
        <div class="row" id="head" style="background: lightblue;">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <a href="#"><img style="height:100px;width:120px;"
                        src="static\ghana.jpeg" alt="No Logo"></a>
            </div>
            <div class="col-md-9">
                <h1 style="width:100%;">National Association Of Registered Midwives</h1>
                <span>(GHANA)</span>
            </div>
        </div>
    </div>
    <div class="container">
        <form action="/home" id="myForm" method="POST" style="margin-bottom: 100px;">
            <h2 style="background:#02b4fa;width:100%;text-align:center;">MEMBERSHIP REGISTION FORM</h2>
            <div style="padding-left:100px;padding-right:100px;">
                <div class="row">
                    <div class="col">
                        <label class="col-sm-5">Are you a dues paying member of NARMGH? <sup>★</sup></label>
                    </div>
                    <div class="col">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" required="required" name="paying_member" id="inlineRadio1"
                                value="yes">
                            <label class="form-check-label" for="inlineRadio1">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" required="required" name="paying_member" id="inlineRadio2"
                                value="no">
                            <label class="form-check-label" for="inlineRadio2">No</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-sm-5">Surname <sup>★</sup></label>
                    </div>
                    <div class="col">
                        <input class="form-control" id="Name" maxlength="60" name="surname" type="text" required="required">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-sm-5">First Name<sup>★</sup></label>
                    </div>
                    <div class="col">
                        <input class="form-control" id="Name" maxlength="60" name="firstname" type="text" required="required">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-sm-5">Middle Name</label>
                    </div>
                    <div class="col">
                        <input class="form-control" id="Name" maxlength="60" name="middlename" type="text" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-sm-5">Date of Birth (DD/MM/YYYY) <sup>★</sup></label>
                    </div>
                    <div class="col">
                        <input class="form-control" id="Name" maxlength="10" name="dob" type="date" required="required">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-sm-5">Gender <sup>★</sup></label>
                    </div>
                    <div class="col">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" required="required" id="male"
                                value="male">
                            <label class="form-check-label" for="inlineRadio1">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="female" required="required"
                                value="female">
                            <label class="form-check-label" for="inlineRadio2">Female</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-sm-5">Contact Number <sup>★</sup></label>
                    </div>
                    <div class="col">
                        <input class="form-control" name="contactno" type="tel" required="required">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-sm-5">Ghana Card No:<sup>★</sup></label>
                    </div>
                    <div class="col">
                        <input class="form-control" id="Name" maxlength="15" name="cardno" type="text" required="required">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-sm-5">Home Address <sup>★</sup></label>
                    </div>
                    <div class="col">
                        <input class="form-control" id="Name" maxlength="200" name="homeaddress" type="text"
                            required="required">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-sm-5">Regions <sup>★</sup></label>
                    </div>
                    <div class="col">
                        <select class="form-control" id="Levelofeducationqualification" name="regions" required="required">
                            <option value="">--Select--</option>
                            <option value="Ashanti Region">Ashanti Region</option>
                        <option value="Eastern Region">Eastern Region</option>
                        <option value="Central Region">Central Region</option>
                        <option value="Greater Accra Region">Greater Accra Region</option>
                        <option value="Savannah Region">Savannah Region</option>
                        <option value="North East Region">North East Region</option>
                        <option value="Bono Region">Bono Region</option>
                        <option value="Ahafo Region">Ahafo Region</option>
                        <option value="Bono East Region">Bono East Region</option>
                        <option value="Oti Region">Oti Region</option>
                        <option value="Upper West Region">Upper West Region</option>
                        <option value="Northern Region">Northern Region</option>
                        <option value="Volta Region">Volta Region</option>
                        <option value="Western Region">Western Region</option>
                        <option value="Western North Region">Western North Region</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-sm-5">District <sup>★</sup></label>
                    </div>
                    <div class="col">
                        <input class="form-control" id="Name" maxlength="100" name="district" type="text" required="required">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-sm-5">Place Of Work/ Facility <sup>★</sup></label>
                    </div>
                    <div class="col">
                        <input class="form-control" id="Name" maxlength="100" name="placeofwork" type="text"
                            required="required">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-sm-5">Rank <sup>★</sup></label>
                    </div>
                    <div class="col">
                        <input class="form-control" id="Name" maxlength="100" name="rank" type="text" required="required">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-sm-5">Staff ID <sup>★</sup></label>
                    </div>
                    <div class="col">
                        <input class="form-control" id="Name" maxlength="20" name="staffid" type="text" required="required">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-sm-5">PIN <sup>★</sup></label>
                    </div>
                    <div class="col">
                        <input class="form-control" id="Name" maxlength="15" name="pin" type="text" required="required">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-sm-5">Professional Qualification <sup>★</sup></label>
                    </div>
                    <div class="col">
                        <select class="form-control" id="Levelofeducationqualification" name="qualification"
                            required="required">
                            <option value="">--Select--</option>
                            <option value="Degree">Degree</option>
                            <option value="Diploma">Diploma</option>
                            <option value="Certificate">Certificate</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col">
                        <button type="reset" value="Reset" class="btn btn-warning" onclick="resetForm()">Reset</button>
                        <button name="prime" value="sub">SUBMIT</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="footer">
            <p style="color:white;text-align: center;">National Association Of Registered Midwives | Ghana (NARMGH)
            </p>
            <p style="color:white;text-align: center;"> P O Box MP 2750, mamprobi - Accra Tel: 0302903250 Office
                location
                1st floor
                H&B properties, Shiashie, East Legon.</p>
        </div>
    </div>
<script>
function resetForm() {
  document.getElementById("myForm").reset();
}
</script>
</body>